- if user_signed_in?
	%p#intro
		Hello
		= current_user.name
		%br/
		%span
			Share your favorite places in Africa. Or discover new ones!
- else
	%p#intro
		Where are your favorite hangouts?
		%br/
		%span
			Share your favorite places in Africa. Or discover new ones!

.field
	.skinny_wrapper
		= form_tag search_posts_path, method: :get, role: "search" do
		%p
		= text_field_tag :search, params[:search]
		%br/
		= submit_tag "Search Hubs", name: nil, class:"button button_highlight button_block"

#posts
	- @posts.each do |post|
		.post
			.post_image
				= link_to (image_tag post.image.url(:small)), post
			.post_content
				.title
					%h2= link_to post.title, post
				.data.clearfix
					%p.username
						Shared by
						= post.user.name
					%p.buttons
						%span
							%i.fa.fa-comments-o
							= post.comments.count
						%span
							%i.fa.fa-thumbs-o-up
							= post.get_likes.size    
